<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <nav>
            <img id="menu" src="{{ asset('images/menu.png') }}" alt="menu" />
            <ul>
                <li><a href="{{ path('homepage') }}">PHP Symfony</a></li>
                <li><a href="{{ path('lid_worden') }}">Lid worden</a></li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ path('logout') }}">{{ app.user.username }} uitloggen</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">INLOGGEN</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="container">
            <img id="logo" src="{{ asset('images/logo.png') }}" alt="logo php-symfony" />
            {% block body %}
            {% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
